- model_class = User

%p
  = "Ciao "  + @user.email.split("@")[0]

%p
  = "Qualcuno ha chiesto di recente di reimpostare la tua password di TDVpass."
%p
  = "Inserire il seguente codice per la reimpostazione della password:"

%strong
  = @temporary_code.code
