-if @offer.price.present? && @offer.original_price > @offer.price
  %span.label.label-price.label-striked= format_price(@offer.original_price)
  %span.label.label-success= format_price(@offer.price)
-else
  %span.label.label-price= format_price(@offer.price)
