default: &default
  adapter: sqlite3
  pool: 5
  timeout: 5000

development:
  adapter: postgresql
  database: linking-commerce-api
  username: linking-commerce
  password: linking-commerce
  host: 127.0.0.1
  encoding: utf8
  port: 5432
  pool: 5
  timeout: 5000

test:
  <<: *default
  database: db/test.sqlite3

production:
  adapter: postgresql
  database: linking-commerce-api
  pool: 5
  timeout: 5000
