.modal#imgModal
  .modal-dialog.modal-lg
    = form_tag backoffice_images_path, multipart: true, class: 'form-horizontal', id: 'fileupload' do
      .modal-content
        .modal-header
          %button.close{type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close'}
            %span{'aria-hidden': 'true'} &times;
          %h4.modal-title#imgModalLabel Carica nuova immagine
        .modal-body
          %span.fileinput-button
            %i.icon-plus.icon-white
            %span Scegli file ...
            = file_field_tag 'image[resource]'
        .modal-footer
          %button.btn.btn-primary.start#upload_button(type="button")
            %i.icon-upload.icon-white
            %span Carica

:javascript
$(function () {
  remove_image = function(el) {
    var element = $(el)[0];
    var id = element.id;

    $.ajax({
      url: '/backoffice/images/' + id,
      type: 'DELETE',
      success: function(result) {
        $(el).parent().remove()
      }
    });
  };


  $('#fileupload').fileupload({
    dataType: 'json',
    add: function (e, data) {
      var upload_button = $('#upload_button');
      upload_button.unbind();

      data.context = upload_button.click(function () {
        data.submit();
      });
    },
    done: function (e, data) {
      var image_id = data.result.id;
      var image_url = data.result.url;
      var html_to_append = "<div class=\"col-xs-3\">"
      + "<input value=\"" + image_id + "\" multiple=\"multiple\" type=\"hidden\" name=\"offer[images][]\">"
      + "<img class=\"img-responsive img-thumbnail\" src=\"" + image_url + "\">"
      + "<button class=\"remove_image close\" type=\"button\" id=\"" + image_id + "\" onclick=\"remove_image(this)\"><span aria-hidden=\"true\">×</span></button>"
      + "</div>";

      $('#images').append(html_to_append);
      $('#imgModal').modal('hide')
    }
  });
});
