.label-price {
  color: black;
}

.label-striked {
  text-decoration: line-through;
}

.form {
    padding: 15px;
}

.float_left {
    float: left
}
.float_right {
    float: right
}


.margin_left {
    margin-left: 30px
}

.padding_top {
    padding-top: 50px
}

.margin_30 {
    margin: 30px
}

.error_label {
    color: red
}

.div_notification {
    width : 100%;
    padding: 10px;
}

.btn_long {
  margin-left: 5px;
  margin-right: 5px;
  padding: 12px;
  display: block;
}

.social-share-button {
    display: inline-block;
    padding: 30px;
}

.invisible {
    visibility: hidden;
}

.well {
  margin: 20px;
}

.custom_row {
  -webkit-box-sizing: content-box;
  margin: 0px;
}

.grid_container {

}

.grid_elem {
  background-color: white;
}

.little_font {
  font-size: 20px;
}
