body {
    -webkit-text-size-adjust: auto;
}

.label-price {
  color: black;
}

.label-striked {
  text-decoration: line-through;
}

.form {
    padding: 15px;
}

.float_left {
    float: left
}


.margin_left {
    margin-left: 30px
}

.margin_30 {
    margin: 30px
}

.error_label {
    color: red
}

.div_notification {
    width : 100%;
    padding: 10px;
}

.social-share-button {
    display: inline-block;
    padding: 30px;
}

.invisible {
    visibility: hidden;
}
