.label-price {
  color: black;
}

.label-striked {
  text-decoration: line-through;
}

.form {
    padding: 15px;
}

.float_left {
    float: left
}


.margin_left {
    margin-left: 30px
}

.margin_50 {
    margin: 50px
}

.error_label {
    color: red
}
